.hr-slash.bio-hr{
    display: none;
}



.theme__kimbie #container {
    background-color: #221a0f;
}
.theme__solarized #container {
    background-color: #fdf7e3;
}


.navbar {
    max-width: initial;
}

/* ----------- 950px - 1200px ----------- */
@media screen 
  and (min-width: 951px) 
  and (max-width: 1200px){
    .navbar {
        padding: 0 50px
    }
}

/* ----------- 1200px + ----------- */
@media screen 
  and (min-width: 1201px){
    .navbar {
        padding: 0 240px
    }
}